<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern=" url: %X{log_url}%n request: %X{log_request}%n response: %X{log_response}%n ------------------------------------------------------------------------------------------------------------------------------%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="/Users/yongqiangzhong/Documents/Workspace/Java_System/Admin/target/logs/app.log" filePattern="/Users/yongqiangzhong/Documents/Workspace/Java_System/Admin/target/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      		<PatternLayout pattern=" url: %X{log_url}%n request: %X{log_request}%n response: %X{log_response}%n authorization_id: %X{authorization_id}%n user_id: %X{user_id}%n code: %X{log_code}%n platform: %X{log_platform}%n version: %X{log_version}%n ip_address: %X{log_ip_address}%n create_time: %X{log_create_time}%n run_time: %X{log_run_time}%n ------------------------------------------------------------------------------------------------------------------------------%n" />
      		<SizeBasedTriggeringPolicy size="200 MB" />
    	</RollingFile>
		<JDBC name="DatabaseAppender" tableName="log">
      		<ConnectionFactory class="com.hongluomeng.common.MyConnectionFactory" method="getDatabaseConnection" />
      		<Column name="log_id" pattern="%X{log_id}" />
      		<Column name="log_url" pattern="%X{log_url}" />
      		<Column name="log_request" pattern="%X{log_request}" />
      		<Column name="log_response" pattern="%X{log_response}" />
      		<Column name="authorization_id" pattern="%X{authorization_id}" />
      		<Column name="user_id" pattern="%X{user_id}" />
      		<Column name="log_code" pattern="%X{log_code}" />
      		<Column name="log_platform" pattern="%X{log_platform}" />
      		<Column name="log_version" pattern="%X{log_version}" />
      		<Column name="log_ip_address" pattern="%X{log_ip_address}" />
      		<Column name="log_create_time" pattern="%X{log_create_time}" />
      		<Column name="log_run_time" pattern="%X{log_run_time}" />
    	</JDBC>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="DatabaseAppender"/>
		</Root>
	</Loggers>
</Configuration>